{% set route = app.request.attributes.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {{route =='home' ? 'active' : ''}}" href="{{ path('home') }}">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{route =='categorie_index' ? 'active' : ''}}" href="{{ path('categorie_index') }}">Catégories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{route =='session_index' ? 'active' : ''}}" href="{{ path('session_index') }}">Session</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{route =='user_index' ? 'active' : ''}}" href="{{ path('user_index') }}">Utilisateurs</a>
        </li>
         <li class="nav-item">
          <a class="nav-link {{route =='api_entrypoint' ? 'active' : ''}}" href="{{ path('api_entrypoint') }}">api</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{route =='front_users' ? 'active' : ''}}" href="{{ path('front_users') }}">Front (AJAX)</a>
        </li>
        
      </ul>

    </div>
  </div>
</nav>