{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Liste des utilisateurs</h1>
    <div class="text-center">
        <a href="{{ path('user_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Photo</th>
                <th>DateCreation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <ul>
                        {% set monRole = '' %}
                        {% for role in user.roles %}                        
                            {% if role =="ROLE_ADMIN" %}
                                {% set monRole = 'Administrateur' %}
                            {% elseif role =="ROLE_FORM" %}
                                {% set monRole = 'Formateur' %}
                            {% else %}
                                {% set monRole = 'Apprenant' %}
                            {% endif %}
                            <li>{{monRole}}</li>
                        {% endfor %}
                        
                    </ul>
                </td>
                <td>{{ user.password }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td><img width="50px" height="50px" src="{{ asset('assets/uploads/users/') }}{{ user.photo }}" alt="" class="rounded rounded-circle border border-5 border-dark"></td>
                <td>{{ user.dateCreation ? user.dateCreation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">pas d'utilisateurs</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
        </div>
    </div>

    
{% endblock %}
